.register {
	height: 100vh;
	background-color: rgb(147, 112, 219);
	display: flex;
	justify-content: center;
	align-items: center;
	.card {
		display: flex;
		background-color: white;
		width: 50%;
		border-radius: 10px;
		overflow: hidden;
		flex-direction: row-reverse;

		.left {
			padding: 20px;
			flex: 1;
			display: flex;
			flex-direction: column;
			background: linear-gradient(
					rgba(147, 112, 219, 0.5),
					rgba(147, 112, 219, 0.5)
				),
				url('https://images.pexels.com/photos/3127880/pexels-photo-3127880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
			background-size: cover;
			background-position: center;
			min-height: 500px;
			gap: 30px;
			color: white;

			h1 {
				font-size: 50px;
				margin-top: 60px;
			}
			p {
				font-size: 18px;
			}
			span {
			}
			button {
				// background-color: rgb(64, 142, 190);
				background-color: white;
				border-radius: 5px;
				border: none;
				padding: 15px;
				color: purple;
				font-weight: bold;
				cursor: pointer;
			}
		}
		.right {
			padding: 10px;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			h1 {
				font-size: 50px;
				color: purple;
				margin-top: 50px;
			}
			form {
				display: flex;
				flex-direction: column;
				gap: 20px;
				input {
					padding: 10px 5px;
					border: none;
					border-bottom: 1px solid lightgray;
					width: 250px;
					color: purple;
				}
				button {
					// background-color: rgb(64, 142, 190);
					background-color: purple;
					border-radius: 5px;
					border: none;
					padding: 15px;
					color: white;
					// font-weight: bold;
					cursor: pointer;
				}
			}
		}
	}
}
