.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.left {
		display: flex;
		align-items: center;
		gap: 20px;

		span {
		}

		.search {
			display: flex;
			align-items: center;
			input {
				width: 300px;
			}
		}
	}
	.right {
		display: flex;
		align-items: center;
		gap: 10px;

		.user {
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				width: 30px;
				border-radius: 50%;
			}
		}
	}
}
